#!/usr/bin/env bash

DIR=../some-dir-to-backup

echo " Go to dir: ${DIR}"
cd ${DIR}

#docker-compose stop

ARCHIVE=${DATE}.tgz

echo " $(archiveToResults . ${ARCHIVE})"
$(archiveToResults . ${ARCHIVE})

#docker-compose start
