#!/usr/bin/env bash

DIR=~/myproject-path
BACKUP_DIR=/tmp/backup
ARCHIVE="myproject_${DATE}.tgz"

echo " Create backup dir: ${BACKUP_DIR}"
mkdir -p ${BACKUP_DIR}

echo " Go to dir: ${DIR}"
cd ${DIR}

COMPOSE_WAS_RUNNING=0
if [[ ! -z $(isComposeRunning) ]]; then
    COMPOSE_WAS_RUNNING=1
    echo " Compose: Stop"
    docker-compose stop
fi

ARCHIVE_DIR=${BACKUP_DIR}/${ARCHIVE}
echo " $(archive ${ARCHIVE_DIR} .)"
$(archive ${ARCHIVE_DIR} .)

if [[ $COMPOSE_WAS_RUNNING == 1 ]]; then
    echo " Compose: Start"
    docker-compose start
fi
