#!/usr/bin/env bash

DIR=~/myproject-path
ARCHIVE="myproject_${DATE}.tgz"

echo " Go to dir: ${DIR}"
cd ${DIR}

#echo " Compose: Stop"
#docker-compose stop

echo " $(archiveToResults ${ARCHIVE} .)"
$(archiveToResults ${ARCHIVE} .)

#echo " Compose: Start"
#docker-compose start
